<form novalidate [formGroup]="menuItemDetailForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-body">
      <div *ngIf="editing">
        <div class="form-group row">
          <div class="col-sm-6">
            <h6><label for="name"><span class="requiredAsterisk">*</span> Menu Item Name: </label></h6>
          </div>
          <div class="col-sm">
            <input id="name"
                   formControlName="Name"
                   class="form-control"
                   type="text"
                   [class.valid]="getFormGroup('Name').valid &&
                      (getFormGroup('Name').dirty || getFormGroup('Name').touched)"
                   [class.invalid]="getFormGroup('Name').invalid &&
                      (getFormGroup('Name').dirty || getFormGroup('Name').touched)"
            >
          </div>
          <div class="col-sm offset-sm-6" *ngIf="hasErrors('Name')">
            <small class="text-danger"
                   *ngIf="getFormGroup('Name').hasError('required')">
              Required.
            </small>
          </div>
        </div><!--form-group-->
        <div class="form-group row">
          <div class="col-sm-6">
            <h6><label for="cost"><span class="requiredAsterisk">*</span> Menu Item Cost: </label></h6>
          </div>
          <div class="col-sm input-group">
            <div class="input-group-append">
              <span class="input-group-text">$</span>
            </div>
            <input id="cost"
                   formControlName="Cost"
                   class="form-control"
                   type="number"
                   step="1"
                   placeholder="0.01-100"
                   [class.valid]="getFormGroup('Cost').valid &&
                      (getFormGroup('Cost').dirty || getFormGroup('Cost').touched)"
                   [class.invalid]="getFormGroup('Cost').invalid &&
                      (getFormGroup('Cost').dirty || getFormGroup('Cost').touched)"
            >
          </div>
          <div class="col-sm offset-sm-6" *ngIf="hasErrors('Cost')">
            <small class="text-danger"
                   *ngIf="getFormGroup('Cost').hasError('required')">
              Required.
            </small>
            <small class="text-danger"
                   *ngIf="getFormGroup('Cost').hasError('pattern')">
              No more than 2 decimal places.
            </small>
            <small class="text-danger"
                   *ngIf="getFormGroup('Cost').hasError('min') || getFormGroup('Cost').hasError('max')">
              Must be between 0.01-100.
            </small>
          </div>
        </div><!--form-group-->
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <h6><label for="category">Menu Item Category: </label></h6>
            </div>
            <div class="col-sm">
              <select id="category"
                      formControlName="MenuItemCategoryId"
                      class="form-select"
              >
                <option [value]="null">Select Category</option>
                <option *ngFor="let category of categories" [value]="category.Id">{{ category.Name }}</option>
              </select>
            </div>
          </div>
        </div>
        <!--form-group-->
      </div><!--editing-->
      <div *ngIf="!editing">
        <div class="row">
          <div class="col-sm-6">
            <h6>Menu Item Name: </h6>
          </div>
          <div class="col-sm">
            <p>{{ detail.Name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h6>Menu Item Cost: </h6>
          </div>
          <div class="col-sm">
            <p>${{ detail.Cost }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h6>Menu Item Category: </h6>
          </div>
          <div class="col-sm">
            <p>{{ getCategoryText(detail.MenuItemCategoryId) }}</p>
          </div>
        </div>
      </div><!--!editing-->
      <div class="col-sm mt-2">
        <div *ngIf="failedAlert" class="alert alert-danger alert-dismissible">
          <a class="close" data-dismiss="alert" aria-label="close" (click)="closeFailedAlert()">&times;</a>
          {{ failedAlertMessage }}
        </div>
      </div>
      <div class="row">
        <div *ngIf="!editing" class="col-sm-6">
          <button type="button"
                  class="btn btn-primary btn-sm btn-block"
                  (click)="setEditing()"
          >
            Edit
          </button>
        </div>
        <div *ngIf="editing" class="col-sm-3">
          <button type="submit"
                  [disabled]="!menuItemDetailForm.valid"
                  class="btn btn-primary btn-sm btn-block"
          >
            Submit
          </button>
        </div>
        <div *ngIf="editing" class="col-sm-3">
          <button type="button" class="btn btn-warning btn-sm btn-block" (click)="undoChanges()">
            Undo
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block" (click)="onDelete()">
            Delete
          </button>
        </div>
      </div><!--row-->
    </div><!--card-body-->
  </div><!--card-->
  <!--hidden inputs-->
  <input type="hidden" formControlName="Id">
</form><!--form-->
