<form novalidate [formGroup]="passwordForm" (ngSubmit)="onUpdate()">
  <div class="form-group row">
    <div class="col-sm-4">
      <h6>
        <label for="password"><span class="requiredAsterisk">*</span> New Password: </label>
      </h6>
    </div>
    <div class="col-sm-8 input-group">
      <input id="password"
             formControlName="Password"
             class="form-control"
             type="password"
             (input)="onPasswordChange()"
             [class.valid]="isValid('Password') && passwordsMatch"
             [class.invalid]="isInvalid('Password') || !passwordsMatch"
      >
    </div>
    <div class="col-sm offset-sm-4" *ngIf="hasErrors('Password')">
      <p class="text-danger"
         *ngIf="getFormGroup('Password').hasError('required')">
        Required.
      </p>
      <p class="text-danger"
         *ngIf="getFormGroup('Password').hasError('minlength') ||
                getFormGroup('Password').hasError('maxlength')">
        Must be 4 - 16 characters.
      </p>
    </div>
  </div><!--form-group-->
  <div class="form-group row">
    <div class="col-sm-4">
      <h6>
        <label for="passwordConfirmation"><span class="requiredAsterisk">*</span> Confirm Password: </label>
      </h6>
    </div>
    <div class="col-sm-8 input-group">
      <input id="passwordConfirmation"
             formControlName="PasswordConfirmation"
             class="form-control"
             type="password"
             (input)="onPasswordChange()"
             [class.valid]="isValid('PasswordConfirmation') && passwordsMatch"
             [class.invalid]="isInvalid('PasswordConfirmation') || !passwordsMatch"
      >
    </div>
    <div class="col-sm offset-sm-4" *ngIf="hasErrors('PasswordConfirmation')">
      <p class="text-danger"
             *ngIf="getFormGroup('PasswordConfirmation').hasError('required')">
        Required.
      </p>
      <p class="text-danger"
         *ngIf="getFormGroup('PasswordConfirmation').hasError('minlength') ||
                getFormGroup('PasswordConfirmation').hasError('maxlength')">
        Must be 4 - 16 characters.
      </p>
    </div>
    <div class="col-sm-8 offset-sm-4" *ngIf="!passwordsMatch">
      <p class="text-danger">
        Passwords do not match.
      </p>
    </div>
  </div><!--form-group-->
  <div *ngIf="errorResponse !== undefined" class="mt-4">
    <div class="alert alert-danger alert-dismissible">
      <a class="close" data-dismiss="alert" aria-label="close" (click)="closeFailedAlert()">&times;</a>
      <h6 class="mt-2 text-center">{{ errorResponse }}</h6>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-center">
    <button type="submit"
            [disabled]="!passwordForm.valid"
            class="btn btn-primary btn-lg"
    >
      Update
    </button>
  </div>
</form>
