<div class="col-md-10 offset-md-1 mt-2">
  <form novalidate (ngSubmit)="toggleEdit()" #form="ngForm">
    <div class="card">
      <div class="card-body">
        <div *ngIf="editing">
          <div class="row">
            <div class="form-group col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <label for="name"><span class="requiredAsterisk">*</span> Tax Name: </label>
                </div>
                <div class="col">
                  <input id="name"
                         name="name"
                         class="form-control"
                         type="text"
                         (input)="onNameChange(nameInput.value)"
                         #nameInput="ngModel"
                         [ngModel]="detail.Name"
                         maxlength="25"
                  >
                </div>
              </div><!--row-->
              <div *ngIf="taxNameError" class="row error">
                <div class="col offset-sm-4">
                  <p>{{ taxNameError }}</p>
                </div>
              </div>
            </div><!--form-group-->
            <div class="form-group col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <label for="amount"><span class="requiredAsterisk">*</span> Tax Amount: </label>
                </div>
                <div class="col input-group">
                  <input id="amount"
                         name="amount"
                         class="form-control"
                         type="number"
                         (input)="onAmountChange(amountInput.value)"
                         #amountInput="ngModel"
                         ngModel
                         [ngModel]="detail.Amount"
                         min="1"
                         max="100"
                         step="1"
                         placeholder="0.5-100"
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div><!--row-->
              <div *ngIf="taxAmountError" class="row error">
                <div class="col offset-sm-5">
                  <p>{{ taxAmountError }}</p>
                </div>
              </div>
            </div><!--form-group-->
          </div><!--row-->
        </div><!--editing-->
        <div *ngIf="!editing">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <h6>Tax Name: </h6>
                </div>
                <div class="col">
                  <p>{{ detail.Name }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <h6>Tax Amount: </h6>
                </div>
                <div class="col">
                  <p>{{ detail.Amount }}%</p>
                </div>
              </div>
            </div>
          </div><!--row-->
        </div><!--!editing-->
        <div class="col-sm-6 offset-sm-3 mt-2">
          <div *ngIf="failedAlert" class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close" (click)="closeFailedAlert()">&times;</a>
            {{ failedAlertMessage }}
          </div>
        </div>
        <div class="row">
          <div *ngIf="!editing" class="col-sm-6">
            <button type="button"
                    [disabled]="(taxNameError || taxAmountError) || (editing && tempName === detail.Name && tempAmount === detail.Amount)"
                    class="btn btn-primary btn-sm btn-block"
                    (click)="toggleEdit()"
            >
              Edit
            </button>
          </div>
          <div *ngIf="editing" class="col-sm-3">
            <button type="submit"
                    [disabled]="(taxNameError || taxAmountError) || (editing && tempName === detail.Name && tempAmount === detail.Amount)"
                    class="btn btn-primary btn-sm btn-block"
            >
              Submit
            </button>
          </div>
          <div *ngIf="editing" class="col-sm-3">
            <button type="button" class="btn btn-warning btn-sm btn-block" (click)="undoChanges()">
              Undo
            </button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-danger btn-sm btn-block" (click)="onDelete()">
              Delete
            </button>
          </div>
        </div><!--row-->
      </div><!--card-body-->
    </div><!--card-->
  </form><!--form-->
</div>
